<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Form</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h3>Customer Information</h3>
<br><br>
<form th:action="@{/processCustomer}" th:object="${customer}" method="POST">
    First Name: <input type="text" th:field="*{firstName}">
    <br><br>
    Last Name: <input type="text" th:field="*{lastName}">
    <span th:if="${#fields.hasErrors('lastName')}"
          th:errors="*{lastName}"
          class="error"/>
    <br><br>
    Yaş: <input type="text" th:field="*{age}">
    <span th:if="${#fields.hasErrors('age')}"
          th:errors="*{age}"
          class="error"/>
    <br><br>
    Posta Kodu: <input type="text" th:field="*{postCode}">
    <span th:if="${#fields.hasErrors('postCode')}"
          th:errors="*{postCode}"
          class="error"/>
    <br><br>
    Languages:
    <input type="radio" th:each="tempLang : ${languages}" th:field="*{favoriteLanguage}" th:value="${tempLang}"
           th:text="${tempLang}">
    <br><br>
    Systems:
    <input type="checkbox" th:each="tempSytem : ${systems}" th:field="*{favoriteSystems}" th:value="${tempSytem}"
           th:text="${tempSytem}">
    <input type="submit" value="submit"/>
</form>
</body>
</html>